# MongoDB URL
MONGODB_URI=mongodb+srv://everestdevelopmet:everestrestaurantcookmail@everest.ppovmhz.mongodb.net/?retryWrites=true&w=majority&appName=Everest

# Secret keys
JWT_SECRET=a_very_secret_jwt_key_that_is_long
JWT_EXPIRE=30d
PORT=5000

# Production
NODE_ENV=production

# Production URLs
CLIENT_URL=verestrestaurantglobalcooking.vercel.app
FRONTEND_URL=verestrestaurantglobalcooking.vercel.app
BACKEND_URL=https://everestrestaurantglobalcookmail.onrender.com

# Contact googl app and pasword
EMAIL_USER=everestdevelopmet@gmail.com
EMAIL_PASS=lcsd wbpv ksup gdjd

# Payment id and passwords
PAYME_MERCHANT_ID=test_merchant_id
PAYME_SECRET_KEY=test_secret_key
SOCKET_CORS_ORIGIN=verestrestaurantglobalcooking.vercel.app

# Google OAuth
# GOOGLE_CLIENT_ID=80145162309-4c4lklhvnm3vjkt4hjk8a7k575q8eu0v.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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

# SMTP (Gmail uchun App Password)
SMTP_USER=everestdevelopmet@gmail.com
SMTP_PASS=lwpz wecs fnqr pvgq